Consider following datasets , do PCA on each datasets and preapare any two classification models.

Datasets:
wine.csv
framingham.csv
claimants.csv
glass.csv
churn.csv

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [46]:
df1 = pd.read_csv("wine.csv")
df1.head()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alcohol               178 non-null    float64
 1   Malic_Acid            178 non-null    float64
 2   Ash                   178 non-null    float64
 3   Ash_Alcanity          178 non-null    float64
 4   Magnesium             178 non-null    int64
 5   Total_Phenols         178 non-null    float64
 6   Flavanoids            178 non-null    float64
 7   Nonflavanoid_Phenols  178 non-null    float64
 8   Proanthocyanins       178 non-null    float64
 9   Color_Intensity       178 non-null    float64
 10  Hue                   178 non-null    float64
 11  OD280                 178 non-null    float64
 12  Proline               178 non-null    int64
 13  Customer_Segment      178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [48]:
df1.corr()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
Alcohol,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720,-0.328222
Malic_Acid,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011,0.437776
Ash,0.211545,0.164045,1.000000,0.443367,0.286587,0.128980,0.115077,0.186230,0.009652,0.258887,-0.074667,0.003911,0.223626,-0.049643
Ash_Alcanity,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597,0.517859
Magnesium,0.270798,-0.054575,0.286587,-0.083333,1.000000,0.214401,0.195784,-0.256294,0.236441,0.199950,0.055398,0.066004,0.393351,-0.209179
Total_Phenols,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115,-0.719163
Flavanoids,0.236815,-0.411007,0.115077,-0.351370,0.195784,0.864564,1.000000,-0.537900,0.652692,-0.172379,0.543479,0.787194,0.494193,-0.847498
Nonflavanoid_Phenols,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385,0.489109
Proanthocyanins,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417,-0.499130
Color_Intensity,0.546364,0.248985,0.258887,0.018732,0.199950,-0.055136,-0.172379,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.316100,0.265668
Hue,-0.071747,-0.561296,-0.074667,-0.273955,0.055398,0.433681,0.543479,-0.262640,0.295544,-0.521813,1.000000,0.565468,0.236183,-0.617369
OD280,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761,-0.788230
Proline,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000,-0.633717
Customer_Segment,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717,1.000000

In [49]:
df1 = df1.drop(['Ash', 'Magnesium', 'Color_Intensity'], axis=1)

In [50]:
df1.head()

,Alcohol,Malic_Acid,Ash_Alcanity,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,15.6,2.80,3.06,0.28,2.29,1.04,3.92,1065,1
1,13.20,1.78,11.2,2.65,2.76,0.26,1.28,1.05,3.40,1050,1
2,13.16,2.36,18.6,2.80,3.24,0.30,2.81,1.03,3.17,1185,1
3,14.37,1.95,16.8,3.85,3.49,0.24,2.18,0.86,3.45,1480,1
4,13.24,2.59,21.0,2.80,2.69,0.39,1.82,1.04,2.93,735,1

In [51]:
df1['Customer_Segment'].value_counts()

Customer_Segment
2    71
1    59
3    48
Name: count, dtype: int64

In [52]:
x = df1.drop('Customer_Segment', axis=1)
y = df1['Customer_Segment']

In [53]:
x.columns

Index(['Alcohol', 'Malic_Acid', 'Ash_Alcanity', 'Total_Phenols', 'Flavanoids',
       'Nonflavanoid_Phenols', 'Proanthocyanins', 'Hue', 'OD280', 'Proline'],
      dtype='object')

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=123456)

In [55]:
from sklearn.tree import DecisionTreeClassifier

def create_decision_tree_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train, y_train)
    return model

In [56]:
from sklearn.ensemble import RandomForestClassifier
def create_random_forest_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train,y_train)
    return model

In [57]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, confusion_matrix, r2_score, f1_score

def evaluate_model(model):
    y_pred = model.predict(x_train)
    y_true = y_train

    # calculate training accuracy
    training_accuracy = accuracy_score(y_true, y_pred)

    # testing accuracy     
    y_pred = model.predict(x_test)
    y_true = y_test

    # get the performance metrics for testing
    testing_accuracy = accuracy_score(y_true, y_pred)
    testing_precision = precision_score(y_true, y_pred, average='macro')
    testing_recall = recall_score(y_true, y_pred, average='macro')
    testing_f1 = f1_score(y_true, y_pred, average='macro')

    return training_accuracy, testing_accuracy, testing_precision, testing_recall, testing_f1

In [58]:
models = [
    ("Random Forest", create_random_forest_model()),
    ("Decision Tree", create_decision_tree_model())
]

In [59]:
performance_data = []
for model_name, model in models:
    train_accuracy, test_accuracy, precision, recall, f1 = evaluate_model(model)
    performance_data.append([
        model_name,
        f"{train_accuracy * 100:.2f}",
        f"{test_accuracy *100:0.2f}",
        precision,
        recall,
        f1
    ])
performance_chart = pd.DataFrame(performance_data, columns=['Model name','Train Accuracy', 'Test Accuracy', 'Precision', 'Recall', 'F1'])
performance_chart

      Model name Train Accuracy Test Accuracy  Precision    Recall        F1
0  Random Forest         100.00         98.15   0.980392  0.985507  0.982492
1  Decision Tree         100.00         83.33   0.856481  0.836473  0.838046

In [60]:
df1.head()

,Alcohol,Malic_Acid,Ash_Alcanity,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,15.6,2.80,3.06,0.28,2.29,1.04,3.92,1065,1
1,13.20,1.78,11.2,2.65,2.76,0.26,1.28,1.05,3.40,1050,1
2,13.16,2.36,18.6,2.80,3.24,0.30,2.81,1.03,3.17,1185,1
3,14.37,1.95,16.8,3.85,3.49,0.24,2.18,0.86,3.45,1480,1
4,13.24,2.59,21.0,2.80,2.69,0.39,1.82,1.04,2.93,735,1

In [61]:
x = df1.drop('Customer_Segment', axis=1)
y = df1['Customer_Segment']

In [68]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(x)
new_x = pca.transform(x)

In [72]:
new_x = pd.DataFrame(new_x, columns= ['first', 'second', 'third', 'fourth','fifth'])
new_x.head()

        first    second     third    fourth     fifth
0  318.126216 -2.528018 -0.713503  0.601175  0.600229
1  303.143652 -6.888654  0.339718  0.007699 -0.424174
2  438.108277  1.116596 -0.661603  0.655320 -0.632144
3  733.115868  0.677473 -0.551820  0.595717  0.193727
4  -11.897984  1.383197 -0.706767  0.784704  0.257395

In [70]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(new_x, y, train_size=0.7, random_state=123456)

In [73]:
from sklearn.tree import DecisionTreeClassifier

def create_decision_tree_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train, y_train)
    return model

In [74]:
from sklearn.ensemble import RandomForestClassifier
def create_random_forest_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train,y_train)
    return model

In [75]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, confusion_matrix, r2_score, f1_score

def evaluate_model(model):
    y_pred = model.predict(x_train)
    y_true = y_train

    # calculate training accuracy
    training_accuracy = accuracy_score(y_true, y_pred)

    # testing accuracy
    y_pred = model.predict(x_test)
    y_true = y_test

    # get the performance metrics for testing
    testing_accuracy = accuracy_score(y_true, y_pred)
    testing_precision = precision_score(y_true, y_pred, average='macro')
    testing_recall = recall_score(y_true, y_pred, average='macro')
    testing_f1 = f1_score(y_true, y_pred, average='macro')

    return training_accuracy, testing_accuracy, testing_precision, testing_recall, testing_f1

In [76]:
models = [
    ("Random Forest", create_random_forest_model()),
    ("Decision Tree", create_decision_tree_model())
]

In [78]:
performance_data = []
for model_name, model in models:
    train_accuracy, test_accuracy, precision, recall, f1 = evaluate_model(model)
    performance_data.append([
        model_name,
        f"{train_accuracy * 100:.2f}",
        f"{test_accuracy *100:0.2f}",
        precision,
        recall,
        f1
    ])
performance_chart = pd.DataFrame(performance_data, columns=['Model name','Train Accuracy', 'Test Accuracy', 'Precision', 'Recall', 'F1'])
performance_chart

      Model name Train Accuracy Test Accuracy  Precision    Recall        F1
0  Random Forest         100.00         92.59   0.929348  0.929348  0.929348
1  Decision Tree         100.00         85.19   0.863598  0.857307  0.859828

framingham.csv

In [79]:
df2 = pd.read_csv("framingham.csv")
df2.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [82]:
df2.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [85]:
df2['education'] = df2['education'].fillna(df2['education'].mean())
df2['cigsPerDay'] = df2['cigsPerDay'].fillna(df2['cigsPerDay'].mean())
df2['BPMeds'] = df2['BPMeds'].fillna(df2['BPMeds'].mean())
df2['totChol'] = df2['totChol'].fillna(df2['totChol'].mean())
df2['BMI'] = df2['BMI'].fillna(df2['BMI'].mean())
df2['heartRate'] = df2['heartRate'].fillna(df2['heartRate'].mean())
df2['glucose'] = df2['BMI'].fillna(df2['BMI'].mean())

In [87]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4240 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4240 non-null   float64
 5   BPMeds           4240 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4240 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4240 non-null   float64
 13  heartRate        4240 non-null   float64
 14  glucose          4240 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [88]:
df2.corr()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
male,1.000000,-0.029014,0.017188,0.197026,0.316023,-0.052203,-0.004550,0.005853,0.015693,-0.070064,-0.035879,0.058199,0.081705,-0.116913,0.005718,0.088374
age,-0.029014,1.000000,-0.164081,-0.213662,-0.192534,0.122036,0.057679,0.306799,0.101314,0.260691,0.394053,0.205586,0.135578,-0.012839,0.116951,0.225408
education,0.017188,-0.164081,1.000000,0.018297,0.008197,-0.010689,-0.035139,-0.080753,-0.038214,-0.022993,-0.128126,-0.061362,-0.135876,-0.053603,-0.033837,-0.053571
currentSmoker,0.197026,-0.213662,0.018297,1.000000,0.767055,-0.048621,-0.032980,-0.103710,-0.044285,-0.046211,-0.130281,-0.107933,-0.167483,0.062678,-0.054062,0.019448
cigsPerDay,0.316023,-0.192534,0.008197,0.767055,1.000000,-0.045847,-0.032711,-0.066444,-0.037086,-0.026182,-0.088523,-0.056473,-0.092888,0.075257,-0.056020,0.057646
BPMeds,-0.052203,0.122036,-0.010689,-0.048621,-0.045847,1.000000,0.115008,0.259125,0.051584,0.078973,0.252023,0.192387,0.099586,0.015172,0.048925,0.086805
prevalentStroke,-0.004550,0.057679,-0.035139,-0.032980,-0.032711,0.115008,1.000000,0.074791,0.006955,0.000105,0.057000,0.045153,0.024856,-0.017674,0.018065,0.061823
prevalentHyp,0.005853,0.306799,-0.080753,-0.103710,-0.066444,0.259125,0.074791,1.000000,0.077752,0.162683,0.696656,0.615840,0.300599,0.146777,0.082757,0.177458
diabetes,0.015693,0.101314,-0.038214,-0.044285,-0.037086,0.051584,0.006955,0.077752,1.000000,0.040161,0.111265,0.050260,0.086282,0.048986,0.605709,0.097344
totChol,-0.070064,0.260691,-0.022993,-0.046211,-0.026182,0.078973,0.000105,0.162683,0.040161,1.000000,0.207436,0.163423,0.115013,0.090678,0.044710,0.081807
sysBP,-0.035879,0.394053,-0.128126,-0.130281,-0.088523,0.252023,0.057000,0.696656,0.111265,0.207436,1.000000,0.783952,0.325172,0.182084,0.134561,0.216374
diaBP,0.058199,0.205586,-0.061362,-0.107933,-0.056473,0.192387,0.045153,0.615840,0.050260,0.163423,0.783952,1.000000,0.376317,0.181012,0.058499,0.145112
BMI,0.081705,0.135578,-0.135876,-0.167483,-0.092888,0.099586,0.024856,0.300599,0.086282,0.115013,0.325172,0.376317,1.000000,0.067318,0.082123,0.074788
heartRate,-0.116913,-0.012839,-0.053603,0.062678,0.075257,0.015172,-0.017674,0.146777,0.048986,0.090678,0.182084,0.181012,0.067318,1.000000,0.089386,0.022892
glucose,0.005718,0.116951,-0.033837,-0.054062,-0.056020,0.048925,0.018065,0.082757,0.605709,0.044710,0.134561,0.058499,0.082123,0.089386,1.000000,0.120451
TenYearCHD,0.088374,0.225408,-0.053571,0.019448,0.057646,0.086805,0.061823,0.177458,0.097344,0.081807,0.216374,0.145112,0.074788,0.022892,0.120451,1.000000

In [89]:
df2 = df2.drop(['education', 'currentSmoker', 'heartRate', 'prevalentStroke', 'cigsPerDay'], axis=1)

In [90]:
df2.head()

,male,age,BPMeds,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,glucose,TenYearCHD
0,1,39,0.0,0,0,195.0,106.0,70.0,26.97,77.0,0
1,0,46,0.0,0,0,250.0,121.0,81.0,28.73,76.0,0
2,1,48,0.0,0,0,245.0,127.5,80.0,25.34,70.0,0
3,0,61,0.0,1,0,225.0,150.0,95.0,28.58,103.0,1
4,0,46,0.0,0,0,285.0,130.0,84.0,23.10,85.0,0

In [91]:
x = df2.drop(['TenYearCHD'],axis=1)
y = df2['TenYearCHD']

In [92]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(x,y,train_size=0.7, random_state=123456)

In [93]:
from sklearn.tree import DecisionTreeClassifier
def create_dt_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

In [94]:
from sklearn.ensemble import RandomForestClassifier
def create_rf_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [108]:
from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
def evaluate_model(model):

    y_pred = model.predict(x_train)
    y_true = y_train

    training_accu = accuracy_score(y_true,y_pred)
    
    y_pred = model.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true,y_pred)

    return training_accu, accuracy,precision,recall,f1

In [109]:
models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [110]:
performance_data2 = []
for model_name, model in models:
     training_accu,accuracy, precision,recall, f1 = evaluate_model(model)
     performance_data2.append([
            f"{training_accu*100:.2f}",
            f"{accuracy*100:.2f}",
            f"{precision*100:.2f}",
            recall,
            f1
        ])
performance_chart2 = pd.DataFrame(performance_data2, columns=['Training Accuracy','Accuracy', 'Precision', 'Recall', "F1"])

In [111]:
performance_chart2

  Training Accuracy Accuracy Precision    Recall        F1
0            100.00    75.79     21.82  0.260870  0.237624
1            100.00    84.91     38.24  0.070652  0.119266

In [120]:
x = df2.drop(['TenYearCHD'],axis=1)
y = df2['TenYearCHD']

In [124]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(x)
new_x2 = pca.transform(x)
new_x2 = pd.DataFrame(new_x2, columns=['c1','c2','c3','c4','c5'])
new_x2

             c1         c2         c3         c4        c5
0    -46.466707 -20.435474  11.157846  -4.259216 -2.740184
1     10.950700 -14.538928   2.713532  -3.804726  1.837154
2      6.740411 -12.994080  -5.565759  -0.279692 -1.175094
3     -6.726896  32.129901   2.765855   5.324380  7.856159
4     47.183483  -7.492079   6.853514  -5.476066 -1.012995
...         ...        ...        ...        ...       ...
4235  10.267562  -4.093235   7.889361   3.504693 -8.976252
4236 -27.296312   0.317935   0.637799  -6.255281  2.295861
4237  33.026162  10.876964  21.556879   0.336783 -0.045594
4238 -49.664717  11.878647 -19.650281 -12.558895  3.487947
4239 -40.549478   5.144231  -4.810452  -8.869721 -3.255341

[4240 rows x 5 columns]

In [125]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(new_x2,y,train_size=0.7, random_state=123456)

In [126]:
from sklearn.tree import DecisionTreeClassifier
def create_dt_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

In [127]:
from sklearn.ensemble import RandomForestClassifier
def create_rf_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [128]:
from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
def evaluate_model(model):

    y_pred = model.predict(x_train)
    y_true = y_train

    training_accu = accuracy_score(y_true,y_pred)
    
    y_pred = model.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true,y_pred)

    return training_accu, accuracy,precision,recall,f1

In [129]:
models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [130]:
performance_data2 = []
for model_name, model in models:
     training_accu,accuracy, precision,recall, f1 = evaluate_model(model)
     performance_data2.append([
            f"{training_accu*100:.2f}",
            f"{accuracy*100:.2f}",
            f"{precision*100:.2f}",
            recall,
            f1
        ])
performance_chart2 = pd.DataFrame(performance_data2, columns=['Training Accuracy','Accuracy', 'Precision', 'Recall', "F1"])

In [131]:
performance_chart2

  Training Accuracy Accuracy Precision    Recall        F1
0            100.00    72.88     19.39  0.277174  0.228188
1            100.00    85.22     42.31  0.059783  0.104762

claimants.csv

In [158]:
df3 = pd.read_csv("claimants.csv")
df3.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [159]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [160]:
df3.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [161]:
df3['CLMSEX'] = df3['CLMSEX'].fillna(df3['CLMSEX'].mean())
df3['CLMINSUR'] = df3['CLMINSUR'].fillna(df3['CLMINSUR'].mean())
df3['SEATBELT'] = df3['SEATBELT'].fillna(df3['SEATBELT'].mean())
df3['CLMAGE'] = df3['CLMAGE'].fillna(df3['CLMAGE'].mean())

In [162]:
df3.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.079321  0.078221 -0.056158  0.009886 -0.219715
CLMSEX    0.079321  1.000000  0.065382 -0.014778 -0.021428 -0.027602
CLMINSUR  0.078221  0.065382  1.000000  0.020899  0.046255  0.005810
SEATBELT -0.056158 -0.014778  0.020899  1.000000 -0.026234  0.111031
CLMAGE    0.009886 -0.021428  0.046255 -0.026234  1.000000  0.057641
LOSS     -0.219715 -0.027602  0.005810  0.111031  0.057641  1.000000

In [163]:
df3 = df3.drop(['CLMINSUR', 'CLMAGE'], axis=1)

In [165]:

x = df3.drop(['ATTORNEY'],axis=1)
y = df3['ATTORNEY']
x

      CLMSEX  SEATBELT    LOSS
0        0.0       0.0  34.940
1        1.0       0.0   0.891
2        0.0       0.0   0.330
3        0.0       1.0   0.037
4        0.0       0.0   0.038
...      ...       ...     ...
1335     0.0       0.0   0.576
1336     1.0       0.0   3.705
1337     1.0       0.0   0.099
1338     1.0       0.0   3.177
1339     1.0       0.0   0.688

[1340 rows x 3 columns]

In [166]:

from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(x,y,train_size=0.7, random_state=123456)

In [167]:
df3.corr()

          ATTORNEY    CLMSEX  SEATBELT      LOSS
ATTORNEY  1.000000  0.079321 -0.056158 -0.219715
CLMSEX    0.079321  1.000000 -0.014778 -0.027602
SEATBELT -0.056158 -0.014778  1.000000  0.111031
LOSS     -0.219715 -0.027602  0.111031  1.000000

In [168]:
from sklearn.tree import DecisionTreeClassifier
def create_dt_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

In [169]:


from sklearn.ensemble import RandomForestClassifier
def create_rf_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [170]:

from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
def evaluate_model(model):

    y_pred = model.predict(x_train)
    y_true = y_train

    training_accu = accuracy_score(y_true,y_pred)
    
    y_pred = model.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true,y_pred)

    return training_accu, accuracy,precision,recall,f1

In [171]:

models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [172]:


performance_data2 = []
for model_name, model in models:
     training_accu,accuracy, precision,recall, f1 = evaluate_model(model)
     performance_data2.append([
            f"{training_accu*100:.2f}",
            f"{accuracy*100:.2f}",
            f"{precision*100:.2f}",
            recall,
            f1
        ])
performance_chart2 = pd.DataFrame(performance_data2, columns=['Training Accuracy','Accuracy', 'Precision', 'Recall', "F1"])
performance_chart2

  Training Accuracy Accuracy Precision    Recall        F1
0             94.34    63.52     62.07  0.642857  0.631579
1             94.34    61.29     59.35  0.647959  0.619512

In [173]:
x

      CLMSEX  SEATBELT    LOSS
0        0.0       0.0  34.940
1        1.0       0.0   0.891
2        0.0       0.0   0.330
3        0.0       1.0   0.037
4        0.0       0.0   0.038
...      ...       ...     ...
1335     0.0       0.0   0.576
1336     1.0       0.0   3.705
1337     1.0       0.0   0.099
1338     1.0       0.0   3.177
1339     1.0       0.0   0.688

[1340 rows x 3 columns]

In [174]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
pca.fit(x)
new_x2 = pca.transform(x)
new_x2 = pd.DataFrame(new_x2, columns=['c1'])

In [176]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(new_x2,y,train_size=0.7, random_state=123456)

In [177]:
from sklearn.tree import DecisionTreeClassifier
def create_dt_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

In [178]:


from sklearn.ensemble import RandomForestClassifier
def create_rf_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [179]:

from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
def evaluate_model(model):

    y_pred = model.predict(x_train)
    y_true = y_train

    training_accu = accuracy_score(y_true,y_pred)
    
    y_pred = model.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true,y_pred)

    return training_accu, accuracy,precision,recall,f1

In [180]:
models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [181]:

performance_data2 = []
for model_name, model in models:
     training_accu,accuracy, precision,recall, f1 = evaluate_model(model)
     performance_data2.append([
            f"{training_accu*100:.2f}",
            f"{accuracy*100:.2f}",
            f"{precision*100:.2f}",
            recall,
            f1
        ])
performance_chart2 = pd.DataFrame(performance_data2, columns=['Training Accuracy','Accuracy', 'Precision', 'Recall', "F1"])


performance_chart2

  Training Accuracy Accuracy Precision    Recall        F1
0             94.34    66.00     65.13  0.647959  0.649616
1             94.34    65.01     63.55  0.658163  0.646617

glass.csv

In [6]:
df = pd.read_csv("glass.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [7]:
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [8]:
df.corr()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
RI,1.000000,-0.191885,-0.122274,-0.407326,-0.542052,-0.289833,0.810403,-0.000386,0.143010,-0.164237
Na,-0.191885,1.000000,-0.273732,0.156794,-0.069809,-0.266087,-0.275442,0.326603,-0.241346,0.502898
Mg,-0.122274,-0.273732,1.000000,-0.481799,-0.165927,0.005396,-0.443750,-0.492262,0.083060,-0.744993
Al,-0.407326,0.156794,-0.481799,1.000000,-0.005524,0.325958,-0.259592,0.479404,-0.074402,0.598829
Si,-0.542052,-0.069809,-0.165927,-0.005524,1.000000,-0.193331,-0.208732,-0.102151,-0.094201,0.151565
K,-0.289833,-0.266087,0.005396,0.325958,-0.193331,1.000000,-0.317836,-0.042618,-0.007719,-0.010054
Ca,0.810403,-0.275442,-0.443750,-0.259592,-0.208732,-0.317836,1.000000,-0.112841,0.124968,0.000952
Ba,-0.000386,0.326603,-0.492262,0.479404,-0.102151,-0.042618,-0.112841,1.000000,-0.058692,0.575161
Fe,0.143010,-0.241346,0.083060,-0.074402,-0.094201,-0.007719,0.124968,-0.058692,1.000000,-0.188278
Type,-0.164237,0.502898,-0.744993,0.598829,0.151565,-0.010054,0.000952,0.575161,-0.188278,1.000000

In [9]:
df = df.drop(['RI', 'K', 'Ca', 'Fe'], axis=1)

In [10]:
x = df.drop(['Type'],axis=1)
y = df['Type']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(x,y,train_size=0.7, random_state=123456)

In [12]:

from sklearn.tree import DecisionTreeClassifier
def create_dt_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

In [13]:

from sklearn.ensemble import RandomForestClassifier
def create_rf_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [14]:


from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
def evaluate_model(model):

    y_pred = model.predict(x_train)
    y_true = y_train

    training_accu = accuracy_score(y_true,y_pred)
    
    y_pred = model.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred, average='macro')
    recall = recall_score(y_true, y_pred, average='macro')
    f1 = f1_score(y_true,y_pred,average='macro')

    return training_accu, accuracy,precision,recall,f1

In [15]:

models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [16]:


performance_data2 = []
for model_name, model in models:
     training_accu,accuracy, precision,recall, f1 = evaluate_model(model)
     performance_data2.append([
            f"{training_accu*100:.2f}",
            f"{accuracy*100:.2f}",
            f"{precision*100:.2f}",
            recall,
            f1
        ])
performance_chart2 = pd.DataFrame(performance_data2, columns=['Training Accuracy','Accuracy', 'Precision', 'Recall', "F1"])
performance_chart2

  Training Accuracy Accuracy Precision    Recall        F1
0            100.00    66.15     56.73  0.621468  0.579791
1            100.00    69.23     69.12  0.704480  0.670960

In [17]:
x

        Na    Mg    Al     Si    Ba
0    13.64  4.49  1.10  71.78  0.00
1    13.89  3.60  1.36  72.73  0.00
2    13.53  3.55  1.54  72.99  0.00
3    13.21  3.69  1.29  72.61  0.00
4    13.27  3.62  1.24  73.08  0.00
..     ...   ...   ...    ...   ...
209  14.14  0.00  2.88  72.61  1.06
210  14.92  0.00  1.99  73.06  1.59
211  14.36  0.00  2.02  73.42  1.64
212  14.38  0.00  1.94  73.61  1.57
213  14.23  0.00  2.08  73.36  1.67

[214 rows x 5 columns]

In [18]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(x)
new_x2 = pca.transform(x)
new_x2 = pd.DataFrame(new_x2, columns=['c1','c2','c3','c4','c5'])
new_x2.head()

         c1        c2        c3        c4        c5
0  1.824434  0.938721 -0.069869 -0.075038  0.038281
1  0.802235  0.361727  0.571313  0.043168 -0.109364
2  0.773126 -0.062826  0.479443  0.239742 -0.172019
3  1.049504 -0.019805  0.049917  0.045487 -0.003384
4  0.936612 -0.311162  0.411946  0.068910  0.048122

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(new_x2,y,train_size=0.7, random_state=123456)

In [22]:

from sklearn.tree import DecisionTreeClassifier
def create_dt_model():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

In [23]:

from sklearn.ensemble import RandomForestClassifier
def create_rf_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [24]:


from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
def evaluate_model(model):

    y_pred = model.predict(x_train)
    y_true = y_train

    training_accu = accuracy_score(y_true,y_pred)
    
    y_pred = model.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred, average='macro')
    recall = recall_score(y_true, y_pred, average='macro')
    f1 = f1_score(y_true,y_pred,average='macro')

    return training_accu, accuracy,precision,recall,f1

In [25]:

models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [26]:

models = [
    ("Decision Tree", create_dt_model()),
    ("Random Forest", create_rf_model())
]

In [27]:


performance_data2 = []
for model_name, model in models:
     training_accu,accuracy, precision,recall, f1 = evaluate_model(model)
     performance_data2.append([
            f"{training_accu*100:.2f}",
            f"{accuracy*100:.2f}",
            f"{precision*100:.2f}",
            recall,
            f1
        ])
performance_chart2 = pd.DataFrame(performance_data2, columns=['Training Accuracy','Accuracy', 'Precision', 'Recall', "F1"])
performance_chart2

  Training Accuracy Accuracy Precision   Recall        F1
0            100.00    53.85     46.58  0.58561  0.499624
1            100.00    69.23     64.09  0.67638  0.637717


churn.csv